.one-wrapper.lgbt-wrapper
  Github(link='https://github.com/jeodiong/jeodiong.github.io')
  SideBar
  nav.nav-wrapper
    .container
      .logo-wrapper
        img(src="/static/projects/music/logo.png", alt="")
        span Player - just a demo
      .lists-wrapper
        router-link.list-item(:to='{name: "ProjectsPlayer"}') {{ $t("message.projects.todokit.nav.features") }}
        a.list-item(target='_blank' href="https://github.com/jeodiong/jeodiong.github.io/issues") {{ $t("message.projects.todokit.nav.issues") }}
        a.list-item(target='_blank' href="https://github.com/jeodiong") {{ $t("message.projects.todokit.nav.about") }}
      .star-number  
        iframe(src="https://ghbtns.com/github-btn.html?user=jeodiong&repo=jeodiong.github.io&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px")
  .two-wrapper
    section.container.player1-wrapper
      .content-wrapper
        .left
          .add-music
            .con
              span Add Music
          .list-wrapper
            .list-item.active
              i.iconfont
              span Dashboard
            .list-item 
              i.iconfont
              span Your beats
            .list-item 
              i.iconfont
              span Exploring zone
            .list-item 
              i.iconfont
              span Inbox
            .list-item 
              i.iconfont
              span Artists
            .list-item 
              i.iconfont
              span Settings
            //- .list-item 
            //-   i.iconfont
            //-   span Exploring zone
            //- .list-item 
            //-   i.iconfont
            //-   span Inbox
        .right
        
      
      
