.one-wrapper
  Github(link='https://github.com/jeodiong')
  .two-wrapper
    .list-wrapper.container
      router-link.list-item(:to='{name: "ProjectsTodoKit"}') 
        .container
          .left
            img(src="/static/projects/todokit/logo.png", alt="")
          .con 
            p.title TodoKit
            p.desc 高颜值的需求和bug管理神器
      router-link.list-item(:to='{name: "ProjectsMiniappLGBT"}') 
        .container  
          .left
            img(src="/static/projects/lgbt/logo.png", alt="")
          .con 
            p.title 一息之间
            p.desc 记录中国LGBT历史时刻
      a.list-item(target='_blank' href='https://github.com/jeodiong/QAF') 
        .container  
          .left
            img(src="/static/projects/qaf/logo.png", alt="")
          .con 
            p.title 同志亦凡人
            p.desc LGBT社交App
      //- router-link.list-item(:to='{name: "ProjectsPlayer"}') 
      //- .list-item.disable
      //-   .container  
      //-     .left
      //-       img(src="/static/projects/music/logo.png", alt="")
      //-     .con 
      //-       p.title Audio players
      //-       p.desc 音乐播放器(under development)
      router-link.list-item(:to='{name: "ProjectsYoumiao"}') 
        .container  
          .left
            img(src="/static/projects/youmiao/logo.png", alt="")
          .con 
            p.title 有喵
            p.desc 奢侈品租赁平台
      a.list-item(target='_blank' href='http://liangcang.vc') 
        .container  
          .left
            img(src="https://ws2.sinaimg.cn/large/006tNc79gy1frr5ux8stfj30ab05k0sq.jpg", alt="")
          .con 
            p.title 良仓孵化器
            p.desc 让创业不再孤单
      a.list-item(target='_blank' href='http://www.b12.cn/') 
        .container  
          .left
            img(src="http://www.b12.cn/v3/pc/img/static/footer_logo.png", alt="")
          .con 
            p.title B12
            p.desc 让创新得到赞赏
      a.list-item(target='_blank' href='http://www.incapital.cn/') 
        .container  
          .left
            img(src="https://ws2.sinaimg.cn/large/006tNc79gy1frr5vflkrgj30m805kdg5.jpg", alt="")
          .con 
            p.title 盈动资本
            p.desc 只投我们想要的
      .list-item.place-holder
      .list-item.place-holder
      .list-item.place-holder
