.one-wrapper
  Github(link='https://github.com/jeodiong')
  .two-wrapper
    .section-wrapper
      .list-title Apps
      .list-wrapper.container
        router-link.list-item(:to='{name: "ProjectsYoumiao"}') 
          .container  
            .left
              img(src="/static/projects/youmiao/logo.png", alt="")
            .con 
              p.title 有喵
              p.client 客户端：微信小程序/支付宝小程序/H5
              p.buildwith 基于VueJS/小程序
              p.desc 奢侈品租赁平台
        router-link.list-item(:to='{name: "ProjectsTodoKit"}') 
          .container
            .left
              img(src="/static/projects/todokit/logo.png", alt="")
            .con 
              p.title TodoKit
              p.client 客户端：Mac/Windows/Linux
              p.buildwith 基于Electron
              p.desc 高颜值的需求和bug管理神器
        a.list-item(target='_blank' href='https://github.com/jeodiong/myapp/tree/app-weather/18.7.21.1.changecity') 
          .container
            .left
              img(src="/static/projects/weather/logo.png", alt="")
            .con 
              p.title 晴雨
              p.client 客户端：Ios/Android
              p.buildwith 基于React Native
              p.desc 天若有晴
        a.list-item(target='_blank' href='https://github.com/jeodiong/QAF') 
          .container  
            .left
              img(src="/static/projects/qaf/logo.png", alt="")
            .con 
              p.title 同志亦凡人
              p.client 客户端：Ios/Android
              p.buildwith 基于React Native
              p.desc LGBT社交App
        router-link.list-item(:to='{name: "ProjectsMiniappLGBT"}') 
          .container  
            .left
              img(src="/static/projects/lgbt/logo.png", alt="")
            .con 
              p.title 一息之间
              p.client 客户端：微信小程序
              p.buildwith 基于小程序
              p.desc 记录中国LGBT历史时刻
        .list-item.place-holder
        .list-item.place-holder
        .list-item.place-holder

    .section-wrapper
      .list-title Sites
      .list-wrapper.container
        router-link.list-item(:to='{name: "ProjectsYoumiao"}') 
          .container  
            .left
              img(src="/static/projects/youmiao/logo.png", alt="")
            .con 
              p.title 有喵
              p.client 客户端：微信小程序/支付宝小程序/H5
              p.buildwith 基于VueJS/小程序
              p.desc 奢侈品租赁平台
        a.list-item(target='_blank' href='http://www.incapital.cn/') 
          .container  
            .left
              img(src="https://ws2.sinaimg.cn/large/006tNc79gy1frr5vflkrgj30m805kdg5.jpg", alt="")
            .con 
              p.title 盈动资本
              p.client 客户端：H5
              p.buildwith 基于VueJS
              p.desc 只投我们想要的
        a.list-item(target='_blank' href='http://liangcang.vc') 
          .container  
            .left
              img(src="https://ws2.sinaimg.cn/large/006tNc79gy1frr5ux8stfj30ab05k0sq.jpg", alt="")
            .con 
              p.title 良仓孵化器
              p.client 客户端：H5
              p.buildwith 基于VueJS
              p.desc 让创业不再孤单
        a.list-item(target='_blank' href='http://www.b12.cn/') 
          .container  
            .left
              img(src="http://www.b12.cn/v3/pc/img/static/footer_logo.png", alt="")
            .con 
              p.title B12
              p.client 客户端：H5
              p.buildwith 基于VueJS
              p.desc 让创新得到赞赏
        .list-item.place-holder
        .list-item.place-holder
        .list-item.place-holder